{% extends "layout.html" %}

{% block content %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>"{{ message }}"</p>
            <br> 
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% if is_admin %}
        <br>
        <br>
        <div class="flex-row">
            <form action="/create_topic" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <div class="form-group col-6">
                <label for="inputUsername">
                Topic name 
                <br>(only ascii numbers and digits)
                <br>(cannot create a new topic if one with the name exists already)
                </label>
                <input type="text" class="form-control" id="topic_title" name="topic_title">
                </div>
                <div class="form-group col-6">
                <label><input type="checkbox" name="secret" value="secret"> Secret</label>
                </div>
                <div class="form-group col-6">
                <button type="submit" class="btn btn-primary">Create topic</button>
                </div>
            </form>
        </div>

        <div class="flex-row">
            <form action="#" method="GET">
            <div class="form-group col-6">
                <label for="exampleFormControlSelect2">
                Selec topic from dropdown menu. Click button "select topic".
                <br>After that you can grant or deny access to selected secret topic.
                <br>To choose multiple users at once hold control when selecting users.
                </label>
                <select class="form-control" id="exampleFormControlSelect2" name="selected_topic">
                {% for topic in topics %}
                    {% if topic.secret %}
                        <option 
                            {% if selected_topic == topic.title %}
                                selected
                            {% endif%}
                        >
                        {{ topic.title }}
                        </option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-6">
               <button type="submit" class="btn btn-primary">Select topic</button>
            </div>
            </form>
        </div>

        <div class="flex-row">
            <form action="/admin_panel" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="form-group col-6">
                <input type="hidden" name="selected_topic" value="{{ selected_topic }}">
                <select class="select" multiple name="users">
                    {% for user in user_list %}
                        {% if not user.has_access %}
                            <option value="{{ user.id }}">
                            {{ user.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                
            </div>
            <div class="form-group col-6">
               <button type="submit" id = "grant_access" name = "grant_access" class="btn btn-primary">Grant users access</button>
            </div>
            </form>
            
            <form action="/admin_panel" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="form-group col-6">
                <input type="hidden" name="selected_topic" value="{{ selected_topic }}">
                <select class="select" multiple name="users">
                    {% for user in user_list %}
                        {% if user.has_access %}
                            <option value="{{ user.id }}">
                            {{ user.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                
            </div>
            <div class="form-group col-6">
               <button type="submit" id = "deny_access" name = "deny_access" class="btn btn-primary">Deny users access</button>
            </div>
            </form>
            
        </div>
    {% endif %}

</div>

{% endblock %}}