<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container">
        <ul class="nav">
            <li> <a class="navbar-brand" href="/">Keskustelu-foorumi</a> </li>
            <li class="nav-item"><a class="nav-link disabled" href="#">current topic:</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{title}}</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:70px">
    <h3> Posts </h3>
    {% if posts %}
        {% for post in posts %}
            <div class="d-flex flex-row">
                <div class="p-0">
                    <a href="/topic/{{title}}/{{post.id}}">{{post.title}}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    {% if session.username %} {# checks if user is logged in #}
    <form action="/topic/{{title}}/send_post" method="POST" onsubmit="return check(this)">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="form-group col-4">
            <h4>Create a new post</h4>
            <label for="inputUsername">Title</label>
            <input type="text" class="form-control" name="post_title" placeholder="Title...">
        </div>
        <div class="form-group col-6">
            <label for="text-area">Send a message</label>
            <textarea class="form-control" rows="3" id="text-area" placeholder="Message..." name="post_message"></textarea>
        </div>
        <div class="form-group col-6">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    {% endif %}
</div>

<script>
function check(form) {
    if (form.post_title.value.length > 30) {
        alert("Title should be under 30 characters.");
        return false;
    }
    else if (form.post_title.value.length == 0) {
        alert("Title missing");
        return false;
    }
    if (form.message.value.length > 2000) {
        alert("Message should be under 2000 characters.");
        return false;
    }
    if (form.message.value.length == 0) {
        alert("Message missing.");
        return false;
    }
    return true;
}
</script>